.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #383838;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.87);
    background: #1e1e1e;
    transition: box-shadow 0.2s;
}